<h1>Admin#index</h1>

<h2>Order per Date</h2>
 <%= column_chart @number_of_orders %>

 <br/>

 <h2>Total Price per Date</h2>
 <%= column_chart @total_price_per_date %>

 <br/>

 <h2>Order per Food</h2>
 <%= column_chart @number_of_orders_per_food %>

 <br/>

 <h2>Total Price per Food</h2>
 <%= column_chart @total_price_per_food %>
 
 <br/>

 <h2>Order per Restaurant</h2>
 <%= column_chart @number_of_orders_per_restaurant %>

 <br/>

 <h2>Total Price per Restaurant</h2>
 <%= column_chart @total_price_per_restaurant %>
